@use "Abstracts/index" as *;


body {
  background-color: $primary-bg;
  background-image: url('../src/bilder/nadiia-ploshchenko-gGO-mu3vFL4-unsplash.jpg');
  background-size: cover; // bilden täcker hela skärmen
  background-position: center; // Centrerar bilden
  background-repeat: no-repeat; // att bilden inte upprepas
  min-height: 100vh; // bilden täcker hela viewportens höjd

  @media (max-width: 768px) {
    background-position: top; // Flytta bilden till toppen för små skärmar
  }
}
